body{
  background: #F3F1FF;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
p{
  font-size: 14px;
}
.container{
  max-width: 870px;
}
.logo{
  width: 40px;
  height: 50px;
  margin-right: 10px;
}
header{
  background: #562EFF;
}
.nav-link{
  margin-left: 20px;
}
.nav-link img{
  width: 51px;
  height: 51px;
}
.player{
  margin-top: 50px;
}
.player img{
  width: 56px;
  height: 56px;
  margin-right: 20px;
}
.single{
  margin-bottom: 30px;
}
.single p{
  font-size: 18px;
}
.main{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.card{
  border: none;
}
.card-title{
  font-size: 18px !important;
}
.card-text{
  font-size: 14px;
  margin-top: -5px !important;
}
.card-foot img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.icon i{
  color: #FFC014;

}
.hour{
  background: #FFE4E8;
  padding: 5px;
  height: 30px;
  border-radius: 50px;
}
.card-foot .hour p{
  color: #FF4A60;
}
.course{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.course .card{
  width: 270px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgb(0 0 0 /0.1);
}